<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_NoteManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54963/NoteManagerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NoteManagerService"
                contract="NoteManagerService.NoteManagerService" name="BasicHttpBinding_NoteManagerService" />
        </client>
    </system.serviceModel>
</configuration>