USE [master]
GO
/****** Object:  Database [NoteManager]    Script Date: 13/05/2014 20:27:45 ******/
CREATE DATABASE [NoteManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoteManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NoteManager.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NoteManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NoteManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoteManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoteManager]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 13/05/2014 20:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Note](
	[n_id] [int] IDENTITY(1,1) NOT NULL,
	[n_title] [varchar](200) NOT NULL,
	[n_content] [text] NULL,
	[n_date_creation] [datetime] NOT NULL,
	[n_date_modif] [datetime] NOT NULL,
	[n_user_id] [int] NOT NULL,
 CONSTRAINT [PK_Note] PRIMARY KEY CLUSTERED 
(
	[n_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 13/05/2014 20:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[u_email] [nchar](50) NOT NULL,
	[u_pwd] [nchar](20) NOT NULL,
	[u_nom] [nchar](50) NULL,
	[u_prenom] [nchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Note_n_date_creation]  DEFAULT (getdate()) FOR [n_date_creation]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Note_n_date_modif]  DEFAULT (getdate()) FOR [n_date_modif]
GO
ALTER TABLE [dbo].[Note]  WITH CHECK ADD  CONSTRAINT [FK_Note_User] FOREIGN KEY([n_user_id])
REFERENCES [dbo].[User] ([u_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Note] CHECK CONSTRAINT [FK_Note_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description d''une note' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Compte utilisateur' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User'
GO
USE [master]
GO
